<h1>Categories</h1>

    <% @categories.each do |trip| %>
        <p><%= categories.name %></p>
        <p><%= link_to 'Show Suggestions', suggestions %></p>
        <p><%= link_to 'Delete Category', trip, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %>


